.head {
  text-align: center;
  align-items: center;
  font-family:helvetica;
  margin:0;

 
}
body *{
  font-family:helvetica;
  margin: auto;
  
}
  
  
  
  body {
    background-image:url("photo.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    
  }
  

  .page {
    width: 1000px;
    margin: auto;
    padding: 50px;
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
    background-color:aliceblue;
  }
  
  .map{
    width: 1000px;
    margin: auto;
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
    background-color:aliceblue;
  }

  .critical{
    width: 1000px;
    margin: auto;
    padding: 50px;
    box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
    background-color:aliceblue;
    overflow: scroll;
  }

  .bubble *{
   margin-left: 130px;
  }
  
  .vis-container {
    width: 100%;
  }
  
  .map-container{
    align-items: center;
    margin-top: 50px;

  }
  
  .description-right {
    padding-left: 20px;
  }
  
  .map-description {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;

  }

  .bar-description {
    padding-right: 100px;
  }
  
  .pure-g {
    margin-bottom: 30px;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
  }
  


  